In [1]:
d = {'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}

In [2]:
d['Tim Cook']

'Apple'

In [3]:
'''>HI
>> Hello
>>> Hello2'''

'>HI\n>> Hello\n>>> Hello2'

>Indent Level 1
>>Indent Level 2
>>>Indent Level 3

In [4]:
d.get('Tim Cook','NA')

'Apple'

In [5]:
s1 = set([1,2,3,4,5,6,5])
s2 = set ([2,3,4,5,6,7,8,9])
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
s1.difference(s2)
s2.difference(s1)

{7, 8, 9}

In [7]:
s1.symmetric_difference(s2)

{1, 7, 8, 9}

In [8]:
s = "bsd"
len(s)

3

In [9]:
if len(s) > 0 and s[0] in 'aeiou':
    print('Yes')
else:
    print('No')

No

In [10]:
d = {1: 'Fish', 2: 'Bird', 3: 'Mammal'}
for i in d:
    print(i)

1
2
3

In [11]:
d={1,2,3}

In [12]:
print(d.add(50))

None

In [13]:
type(d)

set

In [14]:
d=(1,2,3)

In [15]:
a = list(range(1,6))

In [16]:
a

[1, 2, 3, 4, 5]

In [17]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        pass

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3
3 is not divisible by 3
4 is not divisible by 3
5 is not divisible by 3

Write a program to generate a dictionary that contains the key-value pairs i: i**2 where ' i ' is an integer number from 1 to n (both 1 and n included).

In [18]:
d = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64} ##output
n=8
n+=1

In [19]:
d = { i : i**2 for i in range(1, n + 1)}

In [20]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [24]:
vowel = ('a', 'e', 'i', 'o', 'u')

In [25]:
s="abcd"
s.startswith(vowel)

True

In [26]:
id(vowel)

1873602786672

In [27]:
sList = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']

In [28]:
sum(map(lambda w : 1 if w.startswith('S') else 0, sList))

3

In [65]:
import numpy as np
l = np.arange (1, 10)

In [66]:
[1 if i % 3 == 0 for i in l ]

SyntaxError: invalid syntax (<ipython-input-66-cdbe6b2de8e8>, line 1)

In [71]:
list(filter(lambda x :  x, l))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
s[0].upper()

In [ ]:
first_name= ['Ankur','Avik','Kiran','Nitin']
m_name= ['A','D','N','k']
last_name = ['Narang','Sarkar','R','Sareen']
name = list(map(lambda x,y,z : x + ' ' + y + ' ' + z, first_name, m_name, last_name))
name

In [ ]:
input_list = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']
count = sum(map(lambda w : 1 if w.startswith('S') else 0, input_list))

In [ ]:
input_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
list_answer = list(filter(lambda x : x % 5 == 0 , input_list))
list_answer

In [8]:
from functools import reduce
input_list = ['All','you','have','to','fear','is','fear','itself']
result = reduce(lambda w1, w2 : w1 + ' ' + w2, input_list)
result

'All you have to fear is fear itself'

In [11]:
result = list(map(lambda w1, w2 : w1 + ' ' + w2, input_list,input_list))
result

['All All',
 'you you',
 'have have',
 'to to',
 'fear fear',
 'is is',
 'fear fear',
 'itself itself']

In [45]:
n = int(input("Emter Number"))

Emter Number5

In [46]:
import numpy as np
#list(filter(lambda x :  x, l))

In [73]:
n=5
n=n+1
reduce(lambda a, b: str(a) + '' + str(b), np.arange(1,n))
#l = [a for a in  np.arange(1, n)]
#print(l)

'12345'

In [76]:
n = int(input("Emter Number"))
n = n +1
print(reduce(lambda a, b: str(a) + '' + str(b), range(1,n)))

Emter Number10
12345678910

### Factorial Number

In [24]:
# Read the input as an integer
n = int(input())

# Import the reduce() function
from functools import reduce
if n == 0:
    result = 1
else:
    n+=1
    
    fact = lambda x1, x2 : x1 * x2
    result = reduce(fact, range(1,n))
    
print(result)

5
120

### Set Example

In [25]:
c = [2, 5, 9, 12, 13, 15, 16, 17, 18, 19]
f= [2, 4, 5, 6, 7, 9, 13, 16, 20]
h=[1, 2, 5, 9, 10, 11, 12, 13, 15, 20]

In [38]:
c_set = set(c)
f_set = set(f)
h_set = set(h)
student_set = set(range(1,21))

In [31]:
all_sports = sorted( list(set.intersection(c_set,f_set,h_set)))
all_sports

[2, 5, 9, 13]

In [37]:
c_and_f = set.intersection(c_set, f_set)
c_and_f_no_h = sorted(list(set.difference(c_and_f, h_set)))
c_and_f_no_h

[16]

In [39]:
atleast_one_sport = set.union(c_set, f_set, h_set)
no_sport = set.difference(student_set, atleast_one_sport)
no_sport

{3, 8, 14}

In [40]:
set.intersection(c_set,f_set)

{2, 5, 9, 13, 16}

In [41]:
set.intersection(f_set,h_set)

{2, 5, 9, 13, 20}

In [42]:
set.intersection(c_set,h_set)

{2, 5, 9, 12, 13, 15}

In [43]:
set.intersection(c_set,f_set,h_set)

{2, 5, 9, 13}

In [53]:
atlest_two_sport = set.union(set.intersection(c_set,f_set), set.intersection(f_set,h_set), set.intersection(c_set,h_set))
set.symmetric_difference(atlest_two_sport, all_sports)

{12, 15, 16, 20}