In [33]:
'''>HI
>> Hello
>>> Hello2'''

'>HI\n>> Hello\n>>> Hello2'

>Indent Level 1
>>Indent Level 2
>>>Indent Level 3

** dict type **

In [34]:
d = {'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}
d['Tim Cook']

'Apple'

In [35]:
d.get('Tim Cook','NA')
type(d)

dict

In [36]:
s = "bsd"
len(s)

3

In [37]:
if len(s) > 0 and s[0] in 'aeiou':
    print('Yes')
else:
    print('No')

No

In [38]:
d = {1: 'Fish', 2: 'Bird', 3: 'Mammal'}
for i in d:
    print(i)

1
2
3

In [39]:
d={1,2,3}

In [40]:
print(d.add(50))

None

In [41]:
type(d)

set

In [42]:
d=(1,2,3)

In [43]:
a = list(range(1,6))

In [44]:
a

[1, 2, 3, 4, 5]

In [45]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        pass

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3
3 is not divisible by 3
4 is not divisible by 3
5 is not divisible by 3

Write a program to generate a dictionary that contains the key-value pairs i: i**2 where ' i ' is an integer number from 1 to n (both 1 and n included).

In [46]:
d = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64} ##output
n=8
n+=1

In [47]:
d = { i : i**2 for i in range(1, n + 1)}

In [48]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [49]:
vowel = ('a', 'e', 'i', 'o', 'u')

In [50]:
s="abcd"
s.startswith(vowel)

True

In [51]:
id(vowel)

2423291622064

In [52]:
sList = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']

In [53]:
sum(map(lambda w : 1 if w.startswith('S') else 0, sList))

3

In [54]:
import numpy as np
l = np.arange (1, 10)

In [55]:
[i for i in l if i % 3 == 0  ]

[3, 6, 9]

In [56]:
list(filter(lambda x :  x, l))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
s[0].upper()

'A'

In [58]:
first_name= ['Ankur','Avik','Kiran','Nitin']
m_name= ['A','D','N','k']
last_name = ['Narang','Sarkar','R','Sareen']
name = list(map(lambda x,y,z : x + ' ' + y + ' ' + z, first_name, m_name, last_name))
name

['Ankur A Narang', 'Avik D Sarkar', 'Kiran N R', 'Nitin k Sareen']

In [59]:
input_list = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']
count = sum(map(lambda w : 1 if w.startswith('S') else 0, input_list))

In [60]:
input_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
list_answer = list(filter(lambda x : x % 5 == 0 , input_list))
list_answer

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [61]:
from functools import reduce
input_list = ['All','you','have','to','fear','is','fear','itself']
result = reduce(lambda w1, w2 : w1 + ' ' + w2, input_list)
result

'All you have to fear is fear itself'

In [62]:
result = list(map(lambda w1, w2 : w1 + ' ' + w2, input_list,input_list))
result

['All All',
 'you you',
 'have have',
 'to to',
 'fear fear',
 'is is',
 'fear fear',
 'itself itself']

In [63]:
n = int(input("Emter Number"))

Emter Number5

In [64]:
import numpy as np
#list(filter(lambda x :  x, l))

In [65]:
n=5
n=n+1
reduce(lambda a, b: str(a) + '' + str(b), np.arange(1,n))
#l = [a for a in  np.arange(1, n)]
#print(l)

'12345'

In [66]:
n = int(input("Emter Number"))
n = n +1
print(reduce(lambda a, b: str(a) + '' + str(b), range(1,n)))

Emter Number5
12345

### Factorial Number

In [67]:
# Read the input as an integer
n = int(input())

# Import the reduce() function
from functools import reduce
if n == 0:
    result = 1
else:
    n+=1
    
    fact = lambda x1, x2 : x1 * x2
    result = reduce(fact, range(1,n))
    
print(result)

5
120

### Set Example

In [68]:
c = [2, 5, 9, 12, 13, 15, 16, 17, 18, 19]
f= [2, 4, 5, 6, 7, 9, 13, 16, 20]
h=[1, 2, 5, 9, 10, 11, 12, 13, 15, 20]

In [69]:
c_set = set(c)
f_set = set(f)
h_set = set(h)
student_set = set(range(1,21))

In [70]:
all_sports = sorted( list(set.intersection(c_set,f_set,h_set)))
all_sports

[2, 5, 9, 13]

In [71]:
c_and_f = set.intersection(c_set, f_set)
c_and_f_no_h = sorted(list(set.difference(c_and_f, h_set)))
c_and_f_no_h

[16]

In [72]:
atleast_one_sport = set.union(c_set, f_set, h_set)
no_sport = set.difference(student_set, atleast_one_sport)
no_sport

{3, 8, 14}

In [73]:
set.intersection(c_set,f_set)

{2, 5, 9, 13, 16}

In [74]:
set.intersection(f_set,h_set)

{2, 5, 9, 13, 20}

In [75]:
set.intersection(c_set,h_set)

{2, 5, 9, 12, 13, 15}

In [76]:
set.intersection(c_set,f_set,h_set)

{2, 5, 9, 13}

In [77]:
atlest_two_sport = set.union(set.intersection(c_set,f_set), set.intersection(f_set,h_set), set.intersection(c_set,h_set))
set.symmetric_difference(atlest_two_sport, all_sports)

{12, 15, 16, 20}

In [78]:
s1 = set([1,2,3,4,5,6,5])
s2 = set ([2,3,4,5,6,7,8,9])
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6, 7, 8, 9}

In [79]:
s1.difference(s2)

{1}

In [80]:
s2.difference(s1)

{7, 8, 9}

In [81]:
s1.symmetric_difference(s2)

{1, 7, 8, 9}

In [121]:
def safegaurd(f):
    def g(x,y):
        if y == 0:
            print("Error")
        else:
            f(x,y)
        
    return g

In [122]:
def divide1 (x,y):
    return x/y

In [123]:
@safegaurd
def divide2 (x,y):
    return x/y

In [124]:
print(divide1(4,3))
print(divide1(4,0))

1.3333333333333333

ZeroDivisionError: division by zero

In [125]:
print(divide2(4,3))
print(divide2(4,0))

None
Error
None

In [1]:
import requests

In [ ]:
a = requests.get("");